@model IEnumerable<ProteinManagementSystem.Web.Models.ProteinViewModel>

<tbody id="proteinTable">
    @foreach (var protein in Model)
    {
        var style = ViewData[ProteinManagementSystem.Web.Controllers.HomeController.SearchTerm] != null && @protein.AminoAcidSequence.Contains(ViewData[ProteinManagementSystem.Web.Controllers.HomeController.SearchTerm].ToString()) ? "warning" : "";
        
        <tr class="@style">
            <td>
                <button data-toggle="modal" data-target="#myModal" data-name="@protein.Name" data-sequence="@protein.AminoAcidSequence">@protein.Name</button>
            </td>
            <td>
                <span>@protein.Description</span>
            </td>
            <td>
                <span>@protein.IsoelectricPoint</span>
            </td>
            <td>
                <span>@protein.MolecularWeight</span>
            </td>
            <td>
                <span>@protein.YearDiscovered</span>
            </td>
            <td>
                <span>@protein.DiscoveredBy</span>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { name = @protein.Name })
            </td>
        </tr>
    }
</tbody>

