@{
    ViewBag.Title = "Home Page";
}
@model List<ProteinManagementSystem.Database.Protein>

@*<div>
    <h1>Proteins</h1>

    <div class="row">
        <div class="col-md-2">
            <span>Name</span>
        </div>
        <div class="col-md-2">
            <span>Description</span>
        </div>
        <div class="col-md-2">
            <span>Isoelectric Point</span>
        </div>
        <div class="col-md-2">
            <span>Molecular Weight</span>
        </div>
        <div class="col-md-2">
            <span>Year Discovered</span>
        </div>
        <div class="col-md-2">
            <span>Discovered By</span>
        </div>
    </div>

    @foreach (var protein in Model)
    {
        <div class="row">
            <div class="col-md-2">
                <a href="#">@protein.Name</a>
            </div>
            <div class="col-md-2">
                <span>@protein.Description</span>
            </div>
            <div class="col-md-2">
                <span>@protein.IsoelectricPoint</span>
            </div>
            <div class="col-md-2">
                <span>@protein.MolecularWeight</span>
            </div>
            <div class="col-md-2">
                <span>@protein.DateDiscovered.ToString("yyyy")</span>
            </div>
            <div class="col-md-2">
                <span>@protein.DiscoveredBy</span>
            </div>
        </div>
    }

</div>*@

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Proteins</div>

            <div class="table-responsive">
                <!-- Table -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Isoelectric Point</td>
                            <td>Molecular Weight</td>
                            <td>Year Discovered</td>
                            <td>Discovered By</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var protein in Model)
                        {
                        <tr>
                            <td>
                                <a>@protein.Name</a>
                            </td>
                            <td>
                                <span>@protein.Description</span>
                            </td>
                            <td>
                                <span>@protein.IsoelectricPoint</span>
                            </td>
                            <td>
                                <span>@protein.MolecularWeight</span>
                            </td>
                            <td>
                                <span>@protein.DateDiscovered.ToString("yyyy")</span>
                            </td>
                            <td>
                                <span>@protein.DiscoveredBy</span>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
