@{
    ViewBag.Title = "Home Page";
}
@model List<ProteinManagementSystem.Database.Protein>

    <div>
        <h1>Proteins</h1>

        <div class="row">
            <div class="col-md-2">
                <span>Name</span>
            </div>
            <div class="col-md-2">
                <span>Description</span>
            </div>
            <div class="col-md-2">
                <span>Isoelectric Point</span>
            </div>
            <div class="col-md-2">
                <span>Molecular Weight</span>
            </div>
            <div class="col-md-2">
                <span>Year Discovered</span>
            </div>
            <div class="col-md-2">
                <span>Discovered By</span>
            </div>
        </div>

        @foreach (var protein in Model)
        {
            <div class="row">
                <div class="col-md-2">
                    <span>@protein.Name</span>
                </div>
                <div class="col-md-2">
                    <span>@protein.Description</span>
                </div>
                <div class="col-md-2">
                    <span>@protein.IsoelectricPoint</span>
                </div>
                <div class="col-md-2">
                    <span>@protein.MolecularWeight</span>
                </div>
                <div class="col-md-2">
                    <span>@protein.DateDiscovered.ToString("yyyy")</span>
                </div>
                <div class="col-md-2">
                    <span>@protein.DiscoveredBy</span>
                </div>
            </div>
        }

    </div>
