@{
    ViewBag.Title = "Home Page";
}
@model List<ProteinManagementSystem.Web.Models.ProteinViewModel>

<!-- The Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body row">
                <div class="col-sm-12">
                    <p class="lead"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Proteins</div>

    <div class="table-responsive">
        <!-- Table -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Isoelectric Point</td>
                    <td>Molecular Weight</td>
                    <td>Year Discovered</td>
                    <td>Discovered By</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var protein in Model)
                {
                    <tr>
                        <td>
                            <button data-toggle="modal" data-target="#myModal" data-name="@protein.Name" data-sequence="@protein.AminoAcidSequence">@protein.Name</button>
                        </td>
                        <td>
                            <span>@protein.Description</span>
                        </td>
                        <td>
                            <span>@protein.IsoelectricPoint</span>
                        </td>
                        <td>
                            <span>@protein.MolecularWeight</span>
                        </td>
                        <td>
                            <span>@protein.YearDiscovered</span>
                        </td>
                        <td>
                            <span>@protein.DiscoveredBy</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>